n8n_deepseek_workflow.json
{
  "name": "UQU Assistant Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/chat",
        "method": "POST",
        "bodyParametersJson": "{\"message\": \"{{$json[\"body\"][\"message\"]}}\", \"context\": \"{{$json[\"body\"][\"context\"]}}\"}",
        "options": {}
      },
      "id": "fetch-context-node",
      "name": "Fetch UQU Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_DEEPSEEK_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-chat"
            },
            {
              "name": "messages",
              "value": "=[\n  {\n    \"role\": \"system\",\n    \"content\": \"You are a helpful UQU (University of Queensland Union) assistant. You help students find information about clubs, societies, food outlets, support services, and events. Be friendly, use Australian expressions occasionally, and provide specific, actionable information. Here's the context data about UQU services: {{JSON.stringify($node['Fetch UQU Context'].json.data)}}\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"{{$json['body']['message']}}\"\n  }\n]"
            },
            {
              "name": "temperature",
              "value": 0.7
            },
            {
              "name": "max_tokens",
              "value": 500
            }
          ]
        },
        "options": {}
      },
      "id": "deepseek-node",
      "name": "DeepSeek Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-node",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"{{$json['choices'][0]['message']['content']}}\",\n  \"suggestions\": {{JSON.stringify($node['Fetch UQU Context'].json.suggestions)}},\n  \"context_type\": \"{{$node['Fetch UQU Context'].json.data.type}}\"\n}",
        "options": {}
      },
      "id": "response-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch UQU Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch UQU Context": {
      "main": [
        [
          {
            "node": "DeepSeek Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DeepSeek Chat": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "uqu-assistant-workflow"
}